---
import Layout from "@src/components/Layout.astro";
import { executeQuery } from "@src/utils/db";
import { createDocument } from "@src/utils/create-document";

const userId = Astro.locals.userId;

let errorMessage;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const file = formData.get("file");

  try {
    await createDocument(file);
  } catch (error) {
    errorMessage = error.message;
  }
}

const documents = executeQuery({ table: "documents", user_id: currentUserId });
---

<Layout>
  <h1>Documents</h1>

  <ul>
    {
      documents.map((document) => (
        <li>
          <a href={`/documents/${document.id}/`}>
            {document.id} &ndash; {document.title}
          </a>
        </li>
      ))
    }
  </ul>

  <form method="POST" enctype="multipart/form-data">
    <label
      >File:
      <input type="file" name="file" />
    </label>

    <button>Upload</button>
  </form>
</Layout>
