---
import { handleLogin } from "@src/utils/auth";
import Layout from "@src/components/Layout.astro";

let errorMessage;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const email = formData.get("email");
  const password = formData.get("password");

  try {
    await handleLogin(Astro, email, password);
  } catch (error) {
    errorMessage = error.message;
  }
}
---

<Layout>
  <h1>Login</h1>

  <form method="POST">
    {errorMessage && <p>{errorMessage}</p>}
    <label>Email</label>
    <input type="email" name="email" />

    <label>Password</label>
    <input type="password" name="password" />

    <button type="submit">Log in</button>
  </form>
</Layout>
