---
import {
  checkPassword,
  setSessionCookie,
  getCurrentUserIdFromAstro,
  createSession,
} from "@src/utils/auth";
import { findRecord } from "@src/utils/db";
import Layout from "@src/components/Layout.astro";

const currentUserId = getCurrentUserIdFromAstro(Astro);
if (currentUserId) {
  return Astro.redirect("/articles/");
}

let errorMessage;

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  const enteredEmail = formData.get("email");
  const enteredPassword = formData.get("password");

  const existingUser = findRecord({
    table: "users",
    condition: { email: enteredEmail },
  });

  const isCorrectPassword = checkPassword(
    enteredPassword,
    existingUser.password,
  );

  if (isCorrectPassword) {
    const sessionKey = createSession(existingUser.id);
    setSessionCookie(Astro, sessionKey);
    return Astro.redirect("/articles/");
  } else {
    errorMessage = "Incorrect password";
  }
}
---

<Layout>
  <h1>Login</h1>

  <form method="POST">
    {errorMessage && <p>{errorMessage}</p>}
    <label>Email</label>
    <input type="email" name="email" />

    <label>Password</label>
    <input type="password" name="password" />

    <button type="submit">Log in</button>
  </form>
</Layout>
