---
import "@src/styles/global.css";
import Htmx from "htmx.org/dist/htmx.min.js?url";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>astro-sqlite-tts-feed</title>
    <script is:inline src={Htmx}></script>
  </head>
  <body>
    <header>
      <h1><code>astro-sqlite-tts-feed</code></h1>
      <nav>
        <ul>
          <li><a href="/feeds/">Feeds</a></li>
          <li><a href="/articles/">Articles</a></li>
          <li><a href="/extraction-rules/">Extraction rules</a></li>
          <li><a href="/documents/">Documents</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
  </body>
</html>
